[submodule "autonomous_agent_template"]
	path = autonomous_agent_template
	url = https://github.com/airalab/autonomous_agent_template
[submodule "Distributed-Sky"]
	path = Distributed-Sky
	url = git@github.com:DroneEmployee/Distributed-Sky.git
[submodule "drone_employee_ros"]
	path = drone_employee_ros
	url = https://github.com/DroneEmployee/drone_employee_ros
