<launch>
  <group ns="Charlie">
    <node name="perm" pkg="traffic_management_client" type="trader_node" output="screen">
      <param name="ipfs_http_provider" value="http://127.0.0.1:5001" />
      <param name="lighthouse" value="0xE85764E29583224C1D063639d2AeeeD7c389DF4d" />
      <param name="model" value="QmWK8hf15C4zYnksoaLvNrzkFtnX8LQCvQRYf8neTtXnBk" />
      <param name="objective" value="QmWHox7NvCDgNnxgnNXbehJRGiidBBmGY26yRABY5UHYin" />
      <param name="token" value="0x093ac06910f23570292fd5027a4fA558ed4Cd010" />
      <param name="bid_lifetime" value="10" /> <!-- Ethereum blocks lifetime, ~12-15 sec for one -->
    </node>
  </group>

</launch>
