<launch>
  <node name="trader" pkg="dummy_aira" type="trader_node" output="screen">
    <param name="lighthouse" value="" />
    <param name="model" value="" />
    <param name="token" value="" />
    <param name="bid_lifetime" value="100" /> <!-- Ethereum blocks lifetime, ~12-15 sec for one -->
  </node>
</launch>
